header {
    background: #1F2937;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    padding-left: 300px;
    padding-right: 300px;
    font-family: 'Roboto', sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

.links {
    display: flex;
    justify-content: right;
    padding: 30px;
    column-gap: 30px;
}
body {
    font-family: 'Roboto', sans-serif;
}

.signup {
    background: #1F2937;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}

.hero {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero2 {
    font-size: 18px;
    color: #E5E7EB;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.quote {
    background: #E5E7EB;
    display: flex;
    justify-content: center;
    /*flex-direction: column; */
    padding: 100px;
    padding-left: 400px;
    padding-right: 400px;
}

.quote1 {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote2 {
    font-weight: bold;
    display: flex;
    justify-content: right;
}

.ad {
    background: #3882F6;
    color: white;
    display: flex;
    justify-content: center;
    /*flex-direction: column; */
    padding: 30px;
    margin: 50px;
    margin-left: 500px;
    margin-right: 500px;
    column-gap: 100px;
}

.ad1 {
    font-weight: bold;
}

footer {
    background: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
}

button {
    background: #3882F6;
    color:white;
    padding: 8px 32px;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-style: bold;
}

.signup2 {
    border-color: white;
}